.All_flows.backup
[{"id":"3195c608.fdd3ba","type":"tab","label":"Reading_json_data","disabled":false,"info":""},{"id":"5a495416.eec284","type":"tab","label":"Learning Flow","disabled":false,"info":""},{"id":"c173c89.ebe62b8","type":"tab","label":"Learning Global","disabled":false,"info":""},{"id":"f321306.d97abd","type":"tab","label":"Learning_Link_Nodes","disabled":false,"info":""},{"id":"af513309.f95908","type":"tab","label":"Twitter Node","disabled":false,"info":""},{"id":"c0db20ef.b6a27","type":"mqtt-broker","z":"","name":"","broker":"","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3f7c252a.6633da","type":"twitter-credentials","z":"","screen_name":"GabrielGroener"},{"id":"73a37292.1d2604","type":"mongodb","z":"","hostname":"10.0.0.199","port":"1880","db":"elonMusk","name":"ElonMuskDataBase"},{"id":"a3386c38.4cfbf8","type":"inject","z":"3195c608.fdd3ba","name":"make request","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":430,"y":240,"wires":[["f8a23805.62b69"]]},{"id":"f8a23805.62b69","type":"http request","z":"3195c608.fdd3ba","name":"","method":"GET","ret":"txt","url":"https://www.google.com/finance","tls":"","x":594.5,"y":240,"wires":[["f033f773.8a2db"]]},{"id":"e926f653.37231","type":"debug","z":"3195c608.fdd3ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":907,"y":240,"wires":[]},{"id":"f033f773.8a2db","type":"html","z":"3195c608.fdd3ba","name":"","property":"","tag":"td.bld span","ret":"html","as":"single","x":761.5,"y":240,"wires":[["e926f653.37231"]]},{"id":"a181c5c7.a4d8","type":"inject","z":"5a495416.eec284","name":"run","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":180,"wires":[["d576d970.8d4ed8"]]},{"id":"d576d970.8d4ed8","type":"function","z":"5a495416.eec284","name":"count","func":"value = flow.get('count') || 0;\nvalue++;\nflow.set('count', value);\nreturn {payload: value};","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["701da107.c8b25"]]},{"id":"701da107.c8b25","type":"debug","z":"5a495416.eec284","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":180,"wires":[]},{"id":"be814bd5.537718","type":"inject","z":"5a495416.eec284","name":"run","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":320,"wires":[["bb87c9b1.942b7"]]},{"id":"bb87c9b1.942b7","type":"function","z":"5a495416.eec284","name":"payload = flow.count","func":"\nreturn {payload: flow.get('count')};","outputs":1,"noerr":0,"x":430,"y":320,"wires":[["a9e90ca.1cb54f"]]},{"id":"a9e90ca.1cb54f","type":"debug","z":"5a495416.eec284","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":320,"wires":[]},{"id":"1506f048.3ce798","type":"inject","z":"c173c89.ebe62b8","name":"run","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":332,"y":112,"wires":[["ec25d7ed.f07ee8"]]},{"id":"ec25d7ed.f07ee8","type":"function","z":"c173c89.ebe62b8","name":"count","func":"value = global.get('count') || 0;\nvalue++;\nglobal.set('count', value);\nreturn {payload: value};","outputs":1,"noerr":0,"x":512,"y":112,"wires":[["fa736246.96e35"]]},{"id":"fa736246.96e35","type":"debug","z":"c173c89.ebe62b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":752,"y":112,"wires":[]},{"id":"63d0566.4103928","type":"inject","z":"c173c89.ebe62b8","name":"run","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":200,"wires":[["34d5a1d4.11240e"]]},{"id":"34d5a1d4.11240e","type":"function","z":"c173c89.ebe62b8","name":"payload = global.count","func":"\nreturn {payload: global.get('count')};","outputs":1,"noerr":0,"x":570,"y":200,"wires":[["e9e70823.a213d8"]]},{"id":"e9e70823.a213d8","type":"debug","z":"c173c89.ebe62b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":200,"wires":[]},{"id":"a175470b.d501","type":"inject","z":"5a495416.eec284","name":"get global","topic":"","payload":"count","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":520,"wires":[["37a2ddf.63919a2"]]},{"id":"37a2ddf.63919a2","type":"debug","z":"5a495416.eec284","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":520,"wires":[]},{"id":"17524995.8f20ce","type":"inject","z":"5a495416.eec284","name":"get flow","topic":"","payload":"count","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":420,"wires":[["b75d7ed0.6cba08"]]},{"id":"b75d7ed0.6cba08","type":"debug","z":"5a495416.eec284","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":420,"wires":[]},{"id":"f4695533.9e8ce","type":"inject","z":"f321306.d97abd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":140,"wires":[["d48e6a5f.8b265"]]},{"id":"d48e6a5f.8b265","type":"delay","z":"f321306.d97abd","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":140,"wires":[["7798449.b7649bc"]]},{"id":"7798449.b7649bc","type":"link out","z":"f321306.d97abd","name":"example","links":["c4a56677.63f488","8a4c5d7d.b2e31","4cb61657.2c61a8"],"x":515,"y":140,"wires":[]},{"id":"d61bb34f.d3dfc","type":"debug","z":"f321306.d97abd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":240,"wires":[]},{"id":"c4a56677.63f488","type":"link in","z":"f321306.d97abd","name":"Linking_to_example","links":["7798449.b7649bc"],"x":155,"y":240,"wires":[["d61bb34f.d3dfc"]]},{"id":"4c6555b8.f90d0c","type":"debug","z":"c173c89.ebe62b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":320,"wires":[]},{"id":"4cb61657.2c61a8","type":"link in","z":"c173c89.ebe62b8","name":"Linking_to_example","links":["7798449.b7649bc"],"x":287,"y":319,"wires":[["4c6555b8.f90d0c"]]},{"id":"2ac5a59.cfc8e5a","type":"debug","z":"3195c608.fdd3ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":900,"y":140,"wires":[]},{"id":"8d90ab74.6077d","type":"inject","z":"3195c608.fdd3ba","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":140,"wires":[["ccd74ae.48c89b8"]]},{"id":"ccd74ae.48c89b8","type":"http request","z":"3195c608.fdd3ba","name":"","method":"GET","ret":"obj","url":"http://api.wunderground.com/api/5c740a826f04e940/conditions/q/CA/San_Francisco.json","tls":"","x":590,"y":140,"wires":[["7ce9af41.83b9e8"]]},{"id":"7ce9af41.83b9e8","type":"function","z":"3195c608.fdd3ba","name":"get info","func":"return {payload: msg.payload.current_observation.temp_c};\n","outputs":1,"noerr":0,"x":760,"y":140,"wires":[["2ac5a59.cfc8e5a"]]},{"id":"5bfcb34c.0e46d4","type":"twitter in","z":"af513309.f95908","twitter":"3f7c252a.6633da","tags":"Elon Musk","user":"false","name":"Get Elon Musk tweets","inputs":1,"x":340,"y":1060,"wires":[["9419af5e.77ce1","c244f2c0.879d48"]]},{"id":"9419af5e.77ce1","type":"debug","z":"af513309.f95908","name":"Debug","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":1040,"wires":[]},{"id":"c244f2c0.879d48","type":"mongodb out","z":"af513309.f95908","mongodb":"73a37292.1d2604","name":"Save ElonMuskTweets","collection":"tweets","payonly":false,"upsert":false,"multi":false,"operation":"store","x":580,"y":1180,"wires":[]},{"id":"497a41a1.55d6c8","type":"http in","z":"af513309.f95908","name":"show tweets","url":"/showTweets","method":"get","upload":false,"swaggerDoc":"","x":280,"y":1340,"wires":[["116fed5.317b913"]]},{"id":"116fed5.317b913","type":"mongodb in","z":"af513309.f95908","mongodb":"73a37292.1d2604","name":"get tweets data","collection":"tweets","operation":"find","x":560,"y":1340,"wires":[["4942e367.244cec"]]},{"id":"4942e367.244cec","type":"http response","z":"af513309.f95908","name":"","statusCode":"","headers":{},"x":790,"y":1340,"wires":[]}]