All_flows
[{"id":"39e1e537.1350aa","type":"tab","label":"ZCD","disabled":false,"info":""},{"id":"3195c608.fdd3ba","type":"tab","label":"Reading_json_data","disabled":false,"info":""},{"id":"5a495416.eec284","type":"tab","label":"Learning Flow","disabled":false,"info":""},{"id":"c173c89.ebe62b8","type":"tab","label":"Learning Global","disabled":false,"info":""},{"id":"f321306.d97abd","type":"tab","label":"Learning_Link_Nodes","disabled":false,"info":""},{"id":"c0db20ef.b6a27","type":"mqtt-broker","z":"","name":"","broker":"","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"867f9e07.57f8a8","type":"http in","z":"39e1e537.1350aa","name":"","url":"/createquote","method":"get","upload":false,"swaggerDoc":"","x":290,"y":60,"wires":[["5b5f3cb6.49bdac"]]},{"id":"5b5f3cb6.49bdac","type":"template","z":"39e1e537.1350aa","name":"form","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>  \n  <head>\n  </head>\n  <body>\n    <form action=\"/createquote\" method=\"post\">\n      <h1>Enter either the number of quote or a financial instrument to fetch from Fox Market</h1>\n      <label for=\"amount\">Quantity of quotes:</label>\n      <input type=\"text\" name=\"amount\" default=\"0\"/><br>\n      <select name=\"instrument\" default=\"\">\n          <option value=\"Bond.BWP.BBB010.22-02-2016.10.25\">Bond.BWP.BBB010.22-02-2016.10.25</option>\n<option value=\"Bond.BWP.BBB011.05-04-2016.10.75\">Bond.BWP.BBB011.05-04-2016.10.75</option>\n<option value=\"Bond.BWP.BBB015.31-10-2019.4.20\">Bond.BWP.BBB015.31-10-2019.4.20</option>\n<option value=\"Bond.BWP.BBB016.31-10-2019.8.00\">Bond.BWP.BBB016.31-10-2019.8.00</option>\n<option value=\"Bond.BWP.BBS002.15-12-2016.12.00\">Bond.BWP.BBS002.15-12-2016.12.00</option>\n<option value=\"Bond.BWP.BBS004.26-11-2019.11.10\">Bond.BWP.BBS004.26-11-2019.11.10</option>\n<option value=\"Bond.BWP.BBS005.03-12-2023.11.20\">Bond.BWP.BBS005.03-12-2023.11.20</option>\n<option value=\"Bond.BWP.BBS006.04-08-2018.3.59\">Bond.BWP.BBS006.04-08-2018.3.59</option>\n<option value=\"Bond.BWP.BBS007.26-08-2025.9.00\">Bond.BWP.BBS007.26-08-2025.9.00</option>\n<option value=\"Bond.BWP.BCIF002.31-10-2020.3.22\">Bond.BWP.BCIF002.31-10-2020.3.22</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/20Y\">CDS.ZAR.Woolworths.SU#BOND/20Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/2Y\">CDS.ZAR.Woolworths.SU#BOND/2Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/30Y\">CDS.ZAR.Woolworths.SU#BOND/30Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/3Y\">CDS.ZAR.Woolworths.SU#BOND/3Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/4Y\">CDS.ZAR.Woolworths.SU#BOND/4Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/5Y\">CDS.ZAR.Woolworths.SU#BOND/5Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/6M\">CDS.ZAR.Woolworths.SU#BOND/6M</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/7Y\">CDS.ZAR.Woolworths.SU#BOND/7Y</option>\n<option value=\"CDS.ZAR.XINA.SOLAR.ONE.CVA/10Y\">CDS.ZAR.XINA.SOLAR.ONE.CVA/10Y</option>\n<option value=\"CDS.ZAR.XINA.SOLAR.ONE.CVA/11Y\">CDS.ZAR.XINA.SOLAR.ONE.CVA/11Y</option>\n<option value=\"CDS.ZAR.XINA.SOLAR.ONE.CVA/12Y\">CDS.ZAR.XINA.SOLAR.ONE.CVA/12Y</option>\n<option value=\"CDS.ZAR.XINA.SOLAR.ONE.CVA/13Y\">CDS.ZAR.XINA.SOLAR.ONE.CVA/13Y</option>\n<option value=\"FX.SEK.ZAR.WEB\">FX.SEK.ZAR.WEB</option>\n<option value=\"FX.SGD.USD.WEB\">FX.SGD.USD.WEB</option>\n<option value=\"FX.SGD.ZAR.12M.WEB\">FX.SGD.ZAR.12M.WEB</option>\n<option value=\"FX.SGD.ZAR.1M.WEB\">FX.SGD.ZAR.1M.WEB</option>\n<option value=\"FX.SGD.ZAR.2M.WEB\">FX.SGD.ZAR.2M.WEB</option>\n<option value=\"FX.SGD.ZAR.3M.WEB\">FX.SGD.ZAR.3M.WEB</option>\n<option value=\"FX.SGD.ZAR.6M.WEB\">FX.SGD.ZAR.6M.WEB</option>\n<option value=\"FX.SGD.ZAR.9M.WEB\">FX.SGD.ZAR.9M.WEB</option>\n<option value=\"FX.SGD.ZAR.WEB\">FX.SGD.ZAR.WEB</option>\n<option value=\"FX.THB.USD.WEB\">FX.THB.USD.WEB</option>\n<option value=\"FX.THB.ZAR.WEB\">FX.THB.ZAR.WEB</option>\n<option value=\"FX.TZS.USD.WEB\">FX.TZS.USD.WEB</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.7M.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.7M.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.7Y.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.7Y.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.8M.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.8M.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.8Y.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.8Y.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.9M.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.9M.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.9Y.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.9Y.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.ON.ON.ZC\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.ON.ON.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.1M.1M.ZC\">Spread.LP.SWZ.USD.LIBOR.1M.1M.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.1W.1W.ZC\">Spread.LP.SWZ.USD.LIBOR.1W.1W.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.2M.2M.ZC\">Spread.LP.SWZ.USD.LIBOR.2M.2M.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.2W.2W.ZC\">Spread.LP.SWZ.USD.LIBOR.2W.2W.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.3M.10M.QTR\">Spread.LP.SWZ.USD.LIBOR.3M.10M.QTR</option>\n<option selected=\"selected\"></option>\n        </select>\n      <input type=\"submit\" />\n    </form>\n  </body>\n</html>  ","output":"str","x":550,"y":60,"wires":[["e307c351.52ec6"]]},{"id":"e307c351.52ec6","type":"http response","z":"39e1e537.1350aa","name":"","statusCode":"","headers":{},"x":790,"y":60,"wires":[]},{"id":"ee780a06.cd6e8","type":"http in","z":"39e1e537.1350aa","name":"","url":"/createquote","method":"post","upload":false,"swaggerDoc":"","x":270,"y":180,"wires":[["491fba2f.d213e4"]]},{"id":"b58e31b3.ce00a","type":"template","z":"39e1e537.1350aa","name":"response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>  \n  <head>\n  </head>\n  <body>\n    <h1>Here are your rates</h1>\n \t<table style=\"width:60%\">\n      <tr>\n        <th align=\"left\">Instrument Name</th>\n        <th align=\"left\">Rate</th> \n      </tr>\n      {{#rates.clean}}\n      <tr>\n        <td>{{instrument}}</td>\n        <td>{{rate}}</td> \n      </tr>\n      {{/rates.clean}}\n    </table>\n \t\n \t\n  </body>\n</html>  ","output":"str","x":740,"y":180,"wires":[["cdcced47.66be9"]]},{"id":"cdcced47.66be9","type":"http response","z":"39e1e537.1350aa","name":"","statusCode":"","headers":{},"x":950,"y":180,"wires":[]},{"id":"33e1d2a9.472cde","type":"debug","z":"39e1e537.1350aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"rates","x":780,"y":260,"wires":[]},{"id":"491fba2f.d213e4","type":"fox-call","z":"39e1e537.1350aa","name":"","x":500,"y":240,"wires":[["b58e31b3.ce00a","33e1d2a9.472cde","9ef12155.b88948"]]},{"id":"8d229357.e4ab","type":"fox-call-custom","z":"39e1e537.1350aa","name":"","x":460,"y":620,"wires":[["a8e733c6.063848","c428b922.b6f65","eefc8fd6.e6b3a8"]]},{"id":"4a308eb9.eb3ad8","type":"inject","z":"39e1e537.1350aa","name":"","topic":"","payload":"Bond","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":620,"wires":[["d561f7cc.f48f7","c428b922.b6f65"]]},{"id":"fc9341a0.9bb7d8","type":"http response","z":"39e1e537.1350aa","name":"","statusCode":"","headers":{},"x":1210,"y":580,"wires":[]},{"id":"a8e733c6.063848","type":"template","z":"39e1e537.1350aa","name":"fox-call-custom","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>  \n  <head>\n  </head>\n  <body>\n    <form action=\"/createquote\" method=\"post\">\n      <h1>Enter either the number of quote or a financial instrument to fetch from Fox Market</h1>\n      <label for=\"amount\">Quantity of quotes:</label>\n      <input type=\"text\" name=\"amount\" default=\"0\"/><br>\n      <select name=\"instrument\" default=\"\">\n          <option value=\"Bond.BWP.BBB010.22-02-2016.10.25\">Bond.BWP.BBB010.22-02-2016.10.25</option>\n<option value=\"Bond.BWP.BBB011.05-04-2016.10.75\">Bond.BWP.BBB011.05-04-2016.10.75</option>\n<option value=\"Bond.BWP.BBB015.31-10-2019.4.20\">Bond.BWP.BBB015.31-10-2019.4.20</option>\n<option value=\"Bond.BWP.BBB016.31-10-2019.8.00\">Bond.BWP.BBB016.31-10-2019.8.00</option>\n<option value=\"Bond.BWP.BBS002.15-12-2016.12.00\">Bond.BWP.BBS002.15-12-2016.12.00</option>\n<option value=\"Bond.BWP.BBS004.26-11-2019.11.10\">Bond.BWP.BBS004.26-11-2019.11.10</option>\n<option value=\"Bond.BWP.BBS005.03-12-2023.11.20\">Bond.BWP.BBS005.03-12-2023.11.20</option>\n<option value=\"Bond.BWP.BBS006.04-08-2018.3.59\">Bond.BWP.BBS006.04-08-2018.3.59</option>\n<option value=\"Bond.BWP.BBS007.26-08-2025.9.00\">Bond.BWP.BBS007.26-08-2025.9.00</option>\n<option value=\"Bond.BWP.BCIF002.31-10-2020.3.22\">Bond.BWP.BCIF002.31-10-2020.3.22</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/20Y\">CDS.ZAR.Woolworths.SU#BOND/20Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/2Y\">CDS.ZAR.Woolworths.SU#BOND/2Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/30Y\">CDS.ZAR.Woolworths.SU#BOND/30Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/3Y\">CDS.ZAR.Woolworths.SU#BOND/3Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/4Y\">CDS.ZAR.Woolworths.SU#BOND/4Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/5Y\">CDS.ZAR.Woolworths.SU#BOND/5Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/6M\">CDS.ZAR.Woolworths.SU#BOND/6M</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/7Y\">CDS.ZAR.Woolworths.SU#BOND/7Y</option>\n<option value=\"CDS.ZAR.XINA.SOLAR.ONE.CVA/10Y\">CDS.ZAR.XINA.SOLAR.ONE.CVA/10Y</option>\n<option value=\"CDS.ZAR.XINA.SOLAR.ONE.CVA/11Y\">CDS.ZAR.XINA.SOLAR.ONE.CVA/11Y</option>\n<option value=\"CDS.ZAR.XINA.SOLAR.ONE.CVA/12Y\">CDS.ZAR.XINA.SOLAR.ONE.CVA/12Y</option>\n<option value=\"CDS.ZAR.XINA.SOLAR.ONE.CVA/13Y\">CDS.ZAR.XINA.SOLAR.ONE.CVA/13Y</option>\n<option value=\"FX.SEK.ZAR.WEB\">FX.SEK.ZAR.WEB</option>\n<option value=\"FX.SGD.USD.WEB\">FX.SGD.USD.WEB</option>\n<option value=\"FX.SGD.ZAR.12M.WEB\">FX.SGD.ZAR.12M.WEB</option>\n<option value=\"FX.SGD.ZAR.1M.WEB\">FX.SGD.ZAR.1M.WEB</option>\n<option value=\"FX.SGD.ZAR.2M.WEB\">FX.SGD.ZAR.2M.WEB</option>\n<option value=\"FX.SGD.ZAR.3M.WEB\">FX.SGD.ZAR.3M.WEB</option>\n<option value=\"FX.SGD.ZAR.6M.WEB\">FX.SGD.ZAR.6M.WEB</option>\n<option value=\"FX.SGD.ZAR.9M.WEB\">FX.SGD.ZAR.9M.WEB</option>\n<option value=\"FX.SGD.ZAR.WEB\">FX.SGD.ZAR.WEB</option>\n<option value=\"FX.THB.USD.WEB\">FX.THB.USD.WEB</option>\n<option value=\"FX.THB.ZAR.WEB\">FX.THB.ZAR.WEB</option>\n<option value=\"FX.TZS.USD.WEB\">FX.TZS.USD.WEB</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.7M.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.7M.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.7Y.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.7Y.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.8M.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.8M.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.8Y.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.8Y.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.9M.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.9M.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.9Y.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.9Y.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.ON.ON.ZC\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.ON.ON.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.1M.1M.ZC\">Spread.LP.SWZ.USD.LIBOR.1M.1M.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.1W.1W.ZC\">Spread.LP.SWZ.USD.LIBOR.1W.1W.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.2M.2M.ZC\">Spread.LP.SWZ.USD.LIBOR.2M.2M.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.2W.2W.ZC\">Spread.LP.SWZ.USD.LIBOR.2W.2W.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.3M.10M.QTR\">Spread.LP.SWZ.USD.LIBOR.3M.10M.QTR</option>\n<option selected=\"selected\"></option>\n        </select>\n      <input type=\"submit\" />\n    </form>\n  </body>\n</html>  ","output":"str","x":760,"y":580,"wires":[["fc9341a0.9bb7d8"]]},{"id":"c428b922.b6f65","type":"debug","z":"39e1e537.1350aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":740,"wires":[]},{"id":"d561f7cc.f48f7","type":"http request","z":"39e1e537.1350aa","name":"Get custom quote","method":"GET","ret":"txt","url":"/customquote","tls":"","x":190,"y":720,"wires":[["8d229357.e4ab"]]},{"id":"eefc8fd6.e6b3a8","type":"http request","z":"39e1e537.1350aa","name":"Post custom quote","method":"POST","ret":"txt","url":"/customquote","tls":"","x":750,"y":680,"wires":[["917aa88e.7fdb48"]]},{"id":"917aa88e.7fdb48","type":"template","z":"39e1e537.1350aa","name":"custom_response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>  \n  <head>\n  </head>\n  <body>\n    <h1>Here are your rates</h1>\n \t<table style=\"width:60%\">\n      <tr>\n        <th align=\"left\">Instrument Name</th>\n        <th align=\"left\">Rate</th> \n      </tr>\n      {{#rates.clean}}\n      <tr>\n        <td>{{instrument}}</td>\n        <td>{{rate}}</td> \n      </tr>\n      {{/rates.clean}}\n    </table>\n \t\n \t\n  </body>\n</html>  ","output":"str","x":990,"y":780,"wires":[["fc9341a0.9bb7d8"]]},{"id":"f53595f3.094448","type":"inject","z":"39e1e537.1350aa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":400,"wires":[["e0fd7bca.867ea8","1f4af069.a5f428"]]},{"id":"e0fd7bca.867ea8","type":"debug","z":"39e1e537.1350aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":390,"y":420,"wires":[]},{"id":"1f4af069.a5f428","type":"function","z":"39e1e537.1350aa","name":"Intializing Global Varible","func":"global.set(\"Bond\",\"Bond.BWP.BBB010.22-02-2016.10.25\");\nglobal.set(\"Bond1\",\"Bond.BWP.BBB011.05-04-2016.10.75\");\nglobal.set(\"Bond2\",\"Bond.BWP.BBB015.31-10-2019.4.20\");\nglobal.set(\"Bond3\",\"Bond.BWP.BBB016.31-10-2019.8.00\");\nglobal.set(\"Bond4\",\"Bond.BWP.BBS002.15-12-2016.12.00\");\nglobal.set(\"Bond5\",\"Bond.BWP.BBS004.26-11-2019.11.10\");\nglobal.set(\"Bond6\",\"Bond.BWP.BBS005.03-12-2023.11.20\");\nglobal.set(\"Bond7\",\"Bond.BWP.BBS006.04-08-2018.3.59\");\nglobal.set(\"Bond8\",\"Bond.BWP.BBS007.26-08-2025.9.00\");\nglobal.set(\"Bond9\",\"Bond.BWP.BCIF002.31-10-2020.3.22\");\nglobal.set(\"CDS\",\"CDS.ZAR.Woolworths.SU#BOND/20Y\");\nglobal.set(\"CDS1\",\"CDS.ZAR.Woolworths.SU#BOND/2Y\");\nglobal.set(\"CDS2\",\"CDS.ZAR.Woolworths.SU#BOND/30Y\");\nglobal.set(\"CDS3\",\"CDS.ZAR.Woolworths.SU#BOND/3Y\");\nglobal.set(\"CDS4\",\"CDS.ZAR.Woolworths.SU#BOND/4Y\");\nglobal.set(\"CDS5\",\"CDS.ZAR.Woolworths.SU#BOND/5Y\");\nglobal.set(\"CDS6\",\"CDS.ZAR.Woolworths.SU#BOND/6M\");\nglobal.set(\"CDS7\",\"CDS.ZAR.Woolworths.SU#BOND/7Y\");\nglobal.set(\"CDS8\",\"CDS.ZAR.XINA.SOLAR.ONE.CVA/10Y\");\nglobal.set(\"CDS9\",\"CDS.ZAR.XINA.SOLAR.ONE.CVA/11Y\");\nglobal.set(\"CDS10\",\"CDS.ZAR.XINA.SOLAR.ONE.CVA/12Y\");\nglobal.set(\"CDS11\",\"CDS.ZAR.XINA.SOLAR.ONE.CVA/13Y\");\nglobal.set(\"FX\",\"FX.SEK.ZAR.WEB\");\nglobal.set(\"FX1\",\"FX.SGD.USD.WEB\");\nglobal.set(\"FX2\",\"FX.SGD.ZAR.12M.WEB\");\nglobal.set(\"FX3\",\"FX.SGD.ZAR.1M.WEB\");\nglobal.set(\"FX4\",\"FX.SGD.ZAR.2M.WEB\");\nglobal.set(\"FX5\",\"FX.SGD.ZAR.3M.WEB\");\nglobal.set(\"FX6\",\"FX.SGD.ZAR.6M.WEB\");\nglobal.set(\"FX7\",\"FX.SGD.ZAR.9M.WEB\");\nglobal.set(\"FX8\",\"FX.SGD.ZAR.WEB\");\nglobal.set(\"FX9\",\"FX.THB.USD.WEB\");\nglobal.set(\"FX10\",\"FX.THB.ZAR.WEB\");\nglobal.set(\"FX11\",\"FX.TZS.USD.WEB\");\nglobal.set(\"Spread\",\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.7M.QTR\");\nglobal.set(\"Spread1\",\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.7Y.QTR\");\nglobal.set(\"Spread2\",\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.8M.QTR\");\nglobal.set(\"Spread3\",\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.8Y.QTR\");\nglobal.set(\"Spread4\",\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.9M.QTR\");\nglobal.set(\"Spread5\",\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.9Y.QTR\");\nglobal.set(\"Spread6\",\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.ON.ON.ZC\");\nglobal.set(\"Spread7\",\"Spread.LP.SWZ.USD.LIBOR.1M.1M.ZC\");\nglobal.set(\"Spread8\",\"Spread.LP.SWZ.USD.LIBOR.1W.1W.ZC\");\nglobal.set(\"Spread9\",\"Spread.LP.SWZ.USD.LIBOR.2M.2M.ZC\");\nglobal.set(\"Spread10\",\"Spread.LP.SWZ.USD.LIBOR.2W.2W.ZC\");\nglobal.set(\"Spread11\",\"Spread.LP.SWZ.USD.LIBOR.3M.10M.QTR\");\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":360,"wires":[[]]},{"id":"d4522530.9227e8","type":"fox-call-custom","z":"39e1e537.1350aa","name":"","x":440,"y":1020,"wires":[["cd0f2751.43b8e8","73169d00.768374"]]},{"id":"ab992bbf.6cc9c","type":"http response","z":"39e1e537.1350aa","name":"","statusCode":"","headers":{},"x":990,"y":1020,"wires":[]},{"id":"986bd3c2.002138","type":"template","z":"39e1e537.1350aa","name":"fox-call-custom","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>  \n  <head>\n  </head>\n  <body>\n    <form action=\"/createquote\" method=\"post\">\n      <h1>Enter either the number of quote or a financial instrument to fetch from Fox Market</h1>\n      <label for=\"amount\">Quantity of quotes:</label>\n      <input type=\"text\" name=\"amount\" default=\"0\"/><br>\n      <select name=\"instrument\" default=\"\">\n          <option value=\"Bond.BWP.BBB010.22-02-2016.10.25\">Bond.BWP.BBB010.22-02-2016.10.25</option>\n<option value=\"Bond.BWP.BBB011.05-04-2016.10.75\">Bond.BWP.BBB011.05-04-2016.10.75</option>\n<option value=\"Bond.BWP.BBB015.31-10-2019.4.20\">Bond.BWP.BBB015.31-10-2019.4.20</option>\n<option value=\"Bond.BWP.BBB016.31-10-2019.8.00\">Bond.BWP.BBB016.31-10-2019.8.00</option>\n<option value=\"Bond.BWP.BBS002.15-12-2016.12.00\">Bond.BWP.BBS002.15-12-2016.12.00</option>\n<option value=\"Bond.BWP.BBS004.26-11-2019.11.10\">Bond.BWP.BBS004.26-11-2019.11.10</option>\n<option value=\"Bond.BWP.BBS005.03-12-2023.11.20\">Bond.BWP.BBS005.03-12-2023.11.20</option>\n<option value=\"Bond.BWP.BBS006.04-08-2018.3.59\">Bond.BWP.BBS006.04-08-2018.3.59</option>\n<option value=\"Bond.BWP.BBS007.26-08-2025.9.00\">Bond.BWP.BBS007.26-08-2025.9.00</option>\n<option value=\"Bond.BWP.BCIF002.31-10-2020.3.22\">Bond.BWP.BCIF002.31-10-2020.3.22</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/20Y\">CDS.ZAR.Woolworths.SU#BOND/20Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/2Y\">CDS.ZAR.Woolworths.SU#BOND/2Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/30Y\">CDS.ZAR.Woolworths.SU#BOND/30Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/3Y\">CDS.ZAR.Woolworths.SU#BOND/3Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/4Y\">CDS.ZAR.Woolworths.SU#BOND/4Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/5Y\">CDS.ZAR.Woolworths.SU#BOND/5Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/6M\">CDS.ZAR.Woolworths.SU#BOND/6M</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/7Y\">CDS.ZAR.Woolworths.SU#BOND/7Y</option>\n<option value=\"CDS.ZAR.XINA.SOLAR.ONE.CVA/10Y\">CDS.ZAR.XINA.SOLAR.ONE.CVA/10Y</option>\n<option value=\"CDS.ZAR.XINA.SOLAR.ONE.CVA/11Y\">CDS.ZAR.XINA.SOLAR.ONE.CVA/11Y</option>\n<option value=\"CDS.ZAR.XINA.SOLAR.ONE.CVA/12Y\">CDS.ZAR.XINA.SOLAR.ONE.CVA/12Y</option>\n<option value=\"CDS.ZAR.XINA.SOLAR.ONE.CVA/13Y\">CDS.ZAR.XINA.SOLAR.ONE.CVA/13Y</option>\n<option value=\"FX.SEK.ZAR.WEB\">FX.SEK.ZAR.WEB</option>\n<option value=\"FX.SGD.USD.WEB\">FX.SGD.USD.WEB</option>\n<option value=\"FX.SGD.ZAR.12M.WEB\">FX.SGD.ZAR.12M.WEB</option>\n<option value=\"FX.SGD.ZAR.1M.WEB\">FX.SGD.ZAR.1M.WEB</option>\n<option value=\"FX.SGD.ZAR.2M.WEB\">FX.SGD.ZAR.2M.WEB</option>\n<option value=\"FX.SGD.ZAR.3M.WEB\">FX.SGD.ZAR.3M.WEB</option>\n<option value=\"FX.SGD.ZAR.6M.WEB\">FX.SGD.ZAR.6M.WEB</option>\n<option value=\"FX.SGD.ZAR.9M.WEB\">FX.SGD.ZAR.9M.WEB</option>\n<option value=\"FX.SGD.ZAR.WEB\">FX.SGD.ZAR.WEB</option>\n<option value=\"FX.THB.USD.WEB\">FX.THB.USD.WEB</option>\n<option value=\"FX.THB.ZAR.WEB\">FX.THB.ZAR.WEB</option>\n<option value=\"FX.TZS.USD.WEB\">FX.TZS.USD.WEB</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.7M.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.7M.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.7Y.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.7Y.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.8M.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.8M.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.8Y.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.8Y.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.9M.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.9M.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.9Y.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.9Y.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.ON.ON.ZC\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.ON.ON.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.1M.1M.ZC\">Spread.LP.SWZ.USD.LIBOR.1M.1M.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.1W.1W.ZC\">Spread.LP.SWZ.USD.LIBOR.1W.1W.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.2M.2M.ZC\">Spread.LP.SWZ.USD.LIBOR.2M.2M.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.2W.2W.ZC\">Spread.LP.SWZ.USD.LIBOR.2W.2W.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.3M.10M.QTR\">Spread.LP.SWZ.USD.LIBOR.3M.10M.QTR</option>\n<option selected=\"selected\"></option>\n        </select>\n      <input type=\"submit\" />\n    </form>\n  </body>\n</html>  ","output":"str","x":440,"y":1260,"wires":[["86c7a393.bf4a98","1f508582.6368ea"]]},{"id":"cd0f2751.43b8e8","type":"debug","z":"39e1e537.1350aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":900,"wires":[]},{"id":"73169d00.768374","type":"template","z":"39e1e537.1350aa","name":"custom_response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>  \n  <head>\n  </head>\n  <body>\n    <h1>Here are your rates</h1>\n \t<table style=\"width:60%\">\n      <tr>\n        <th align=\"left\">Instrument Name</th>\n        <th align=\"left\">Rate</th> \n      </tr>\n      {{#rates.clean}}\n      <tr>\n        <td>{{instrument}}</td>\n        <td>{{rate}}</td> \n      </tr>\n      {{/rates.clean}}\n    </table>\n \t\n \t\n  </body>\n</html>  ","output":"str","x":730,"y":1020,"wires":[["ab992bbf.6cc9c"]]},{"id":"86c7a393.bf4a98","type":"http response","z":"39e1e537.1350aa","name":"","statusCode":"","headers":{},"x":630,"y":1260,"wires":[]},{"id":"4135e543.703dbc","type":"inject","z":"39e1e537.1350aa","name":"","topic":"","payload":"Bond","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1180,"wires":[["1f508582.6368ea","986bd3c2.002138"]]},{"id":"a6afd0a7.8c7e08","type":"inject","z":"39e1e537.1350aa","name":"","topic":"","payload":"Bond","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":900,"wires":[["cd0f2751.43b8e8","d4522530.9227e8"]]},{"id":"1f508582.6368ea","type":"debug","z":"39e1e537.1350aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":1180,"wires":[]},{"id":"a3386c38.4cfbf8","type":"inject","z":"3195c608.fdd3ba","name":"make request","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":430,"y":240,"wires":[["f8a23805.62b69"]]},{"id":"f8a23805.62b69","type":"http request","z":"3195c608.fdd3ba","name":"","method":"GET","ret":"txt","url":"https://www.google.com/finance","tls":"","x":594.5,"y":240,"wires":[["f033f773.8a2db"]]},{"id":"e926f653.37231","type":"debug","z":"3195c608.fdd3ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":907,"y":240,"wires":[]},{"id":"f033f773.8a2db","type":"html","z":"3195c608.fdd3ba","name":"","property":"","tag":"td.bld span","ret":"html","as":"single","x":761.5,"y":240,"wires":[["e926f653.37231"]]},{"id":"8844cd8b.4fcf1","type":"http in","z":"39e1e537.1350aa","name":"get custom quote","url":"/customquote","method":"get","upload":false,"swaggerDoc":"","x":220,"y":1260,"wires":[["986bd3c2.002138"]]},{"id":"ecaeb1eb.e1567","type":"http in","z":"39e1e537.1350aa","name":"post custom quote","url":"/customquote","method":"post","upload":false,"swaggerDoc":"","x":190,"y":1020,"wires":[["d4522530.9227e8"]]},{"id":"4f537513.537674","type":"http response","z":"39e1e537.1350aa","name":"","statusCode":"","headers":{},"x":1310,"y":1260,"wires":[]},{"id":"3fa8da75.2cc866","type":"inject","z":"39e1e537.1350aa","name":"","topic":"","payload":"Bond","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":910,"y":1180,"wires":[["6b6bc224.f3fb9c","3d8dffdc.503ca8"]]},{"id":"6b6bc224.f3fb9c","type":"debug","z":"39e1e537.1350aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1330,"y":1180,"wires":[]},{"id":"25090e73.8171c2","type":"http in","z":"39e1e537.1350aa","name":"get custom quote","url":"/createquote","method":"get","upload":false,"swaggerDoc":"","x":900,"y":1260,"wires":[["3d8dffdc.503ca8"]]},{"id":"3d8dffdc.503ca8","type":"html","z":"39e1e537.1350aa","name":"","property":"payload","tag":"","ret":"html","as":"single","x":1110,"y":1260,"wires":[["6b6bc224.f3fb9c","4f537513.537674"]]},{"id":"fae69831.4c7bf","type":"template","z":"39e1e537.1350aa","name":"fox-call-custom","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>  \n  <head>\n  </head>\n  <body>\n    <form action=\"/createquote\" method=\"post\">\n      <h1>Enter either the number of quote or a financial instrument to fetch from Fox Market</h1>\n      <label for=\"amount\">Quantity of quotes:</label>\n      <input type=\"text\" name=\"amount\" default=\"0\"/><br>\n      <select name=\"instrument\" default=\"\">\n          <option value=\"Bond.BWP.BBB010.22-02-2016.10.25\">Bond.BWP.BBB010.22-02-2016.10.25</option>\n<option value=\"Bond.BWP.BBB011.05-04-2016.10.75\">Bond.BWP.BBB011.05-04-2016.10.75</option>\n<option value=\"Bond.BWP.BBB015.31-10-2019.4.20\">Bond.BWP.BBB015.31-10-2019.4.20</option>\n<option value=\"Bond.BWP.BBB016.31-10-2019.8.00\">Bond.BWP.BBB016.31-10-2019.8.00</option>\n<option value=\"Bond.BWP.BBS002.15-12-2016.12.00\">Bond.BWP.BBS002.15-12-2016.12.00</option>\n<option value=\"Bond.BWP.BBS004.26-11-2019.11.10\">Bond.BWP.BBS004.26-11-2019.11.10</option>\n<option value=\"Bond.BWP.BBS005.03-12-2023.11.20\">Bond.BWP.BBS005.03-12-2023.11.20</option>\n<option value=\"Bond.BWP.BBS006.04-08-2018.3.59\">Bond.BWP.BBS006.04-08-2018.3.59</option>\n<option value=\"Bond.BWP.BBS007.26-08-2025.9.00\">Bond.BWP.BBS007.26-08-2025.9.00</option>\n<option value=\"Bond.BWP.BCIF002.31-10-2020.3.22\">Bond.BWP.BCIF002.31-10-2020.3.22</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/20Y\">CDS.ZAR.Woolworths.SU#BOND/20Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/2Y\">CDS.ZAR.Woolworths.SU#BOND/2Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/30Y\">CDS.ZAR.Woolworths.SU#BOND/30Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/3Y\">CDS.ZAR.Woolworths.SU#BOND/3Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/4Y\">CDS.ZAR.Woolworths.SU#BOND/4Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/5Y\">CDS.ZAR.Woolworths.SU#BOND/5Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/6M\">CDS.ZAR.Woolworths.SU#BOND/6M</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/7Y\">CDS.ZAR.Woolworths.SU#BOND/7Y</option>\n<option value=\"CDS.ZAR.XINA.SOLAR.ONE.CVA/10Y\">CDS.ZAR.XINA.SOLAR.ONE.CVA/10Y</option>\n<option value=\"CDS.ZAR.XINA.SOLAR.ONE.CVA/11Y\">CDS.ZAR.XINA.SOLAR.ONE.CVA/11Y</option>\n<option value=\"CDS.ZAR.XINA.SOLAR.ONE.CVA/12Y\">CDS.ZAR.XINA.SOLAR.ONE.CVA/12Y</option>\n<option value=\"CDS.ZAR.XINA.SOLAR.ONE.CVA/13Y\">CDS.ZAR.XINA.SOLAR.ONE.CVA/13Y</option>\n<option value=\"FX.SEK.ZAR.WEB\">FX.SEK.ZAR.WEB</option>\n<option value=\"FX.SGD.USD.WEB\">FX.SGD.USD.WEB</option>\n<option value=\"FX.SGD.ZAR.12M.WEB\">FX.SGD.ZAR.12M.WEB</option>\n<option value=\"FX.SGD.ZAR.1M.WEB\">FX.SGD.ZAR.1M.WEB</option>\n<option value=\"FX.SGD.ZAR.2M.WEB\">FX.SGD.ZAR.2M.WEB</option>\n<option value=\"FX.SGD.ZAR.3M.WEB\">FX.SGD.ZAR.3M.WEB</option>\n<option value=\"FX.SGD.ZAR.6M.WEB\">FX.SGD.ZAR.6M.WEB</option>\n<option value=\"FX.SGD.ZAR.9M.WEB\">FX.SGD.ZAR.9M.WEB</option>\n<option value=\"FX.SGD.ZAR.WEB\">FX.SGD.ZAR.WEB</option>\n<option value=\"FX.THB.USD.WEB\">FX.THB.USD.WEB</option>\n<option value=\"FX.THB.ZAR.WEB\">FX.THB.ZAR.WEB</option>\n<option value=\"FX.TZS.USD.WEB\">FX.TZS.USD.WEB</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.7M.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.7M.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.7Y.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.7Y.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.8M.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.8M.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.8Y.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.8Y.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.9M.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.9M.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.9Y.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.9Y.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.ON.ON.ZC\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.ON.ON.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.1M.1M.ZC\">Spread.LP.SWZ.USD.LIBOR.1M.1M.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.1W.1W.ZC\">Spread.LP.SWZ.USD.LIBOR.1W.1W.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.2M.2M.ZC\">Spread.LP.SWZ.USD.LIBOR.2M.2M.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.2W.2W.ZC\">Spread.LP.SWZ.USD.LIBOR.2W.2W.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.3M.10M.QTR\">Spread.LP.SWZ.USD.LIBOR.3M.10M.QTR</option>\n<option selected=\"selected\"></option>\n        </select>\n      <input type=\"submit\" />\n    </form>\n  </body>\n</html>  ","output":"str","x":820,"y":1380,"wires":[[]]},{"id":"f1dfd3d.57d8b3","type":"inject","z":"39e1e537.1350aa","name":"","topic":"","payload":"CDS","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":540,"wires":[["d561f7cc.f48f7","c428b922.b6f65"]]},{"id":"a181c5c7.a4d8","type":"inject","z":"5a495416.eec284","name":"run","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":180,"wires":[["d576d970.8d4ed8"]]},{"id":"d576d970.8d4ed8","type":"function","z":"5a495416.eec284","name":"count","func":"value = flow.get('count') || 0;\nvalue++;\nflow.set('count', value);\nreturn {payload: value};","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["701da107.c8b25"]]},{"id":"701da107.c8b25","type":"debug","z":"5a495416.eec284","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":180,"wires":[]},{"id":"be814bd5.537718","type":"inject","z":"5a495416.eec284","name":"run","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":320,"wires":[["bb87c9b1.942b7"]]},{"id":"bb87c9b1.942b7","type":"function","z":"5a495416.eec284","name":"payload = flow.count","func":"\nreturn {payload: flow.get('count')};","outputs":1,"noerr":0,"x":430,"y":320,"wires":[["a9e90ca.1cb54f"]]},{"id":"a9e90ca.1cb54f","type":"debug","z":"5a495416.eec284","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":320,"wires":[]},{"id":"1506f048.3ce798","type":"inject","z":"c173c89.ebe62b8","name":"run","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":332,"y":112,"wires":[["ec25d7ed.f07ee8"]]},{"id":"ec25d7ed.f07ee8","type":"function","z":"c173c89.ebe62b8","name":"count","func":"value = global.get('count') || 0;\nvalue++;\nglobal.set('count', value);\nreturn {payload: value};","outputs":1,"noerr":0,"x":512,"y":112,"wires":[["fa736246.96e35"]]},{"id":"fa736246.96e35","type":"debug","z":"c173c89.ebe62b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":752,"y":112,"wires":[]},{"id":"63d0566.4103928","type":"inject","z":"c173c89.ebe62b8","name":"run","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":200,"wires":[["34d5a1d4.11240e"]]},{"id":"34d5a1d4.11240e","type":"function","z":"c173c89.ebe62b8","name":"payload = global.count","func":"\nreturn {payload: global.get('count')};","outputs":1,"noerr":0,"x":570,"y":200,"wires":[["e9e70823.a213d8"]]},{"id":"e9e70823.a213d8","type":"debug","z":"c173c89.ebe62b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":200,"wires":[]},{"id":"a175470b.d501","type":"inject","z":"5a495416.eec284","name":"get global","topic":"","payload":"count","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":520,"wires":[["37a2ddf.63919a2"]]},{"id":"37a2ddf.63919a2","type":"debug","z":"5a495416.eec284","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":520,"wires":[]},{"id":"17524995.8f20ce","type":"inject","z":"5a495416.eec284","name":"get flow","topic":"","payload":"count","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":420,"wires":[["b75d7ed0.6cba08"]]},{"id":"b75d7ed0.6cba08","type":"debug","z":"5a495416.eec284","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":420,"wires":[]},{"id":"f4695533.9e8ce","type":"inject","z":"f321306.d97abd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":140,"wires":[["d48e6a5f.8b265"]]},{"id":"d48e6a5f.8b265","type":"delay","z":"f321306.d97abd","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":140,"wires":[["7798449.b7649bc"]]},{"id":"7798449.b7649bc","type":"link out","z":"f321306.d97abd","name":"example","links":["c4a56677.63f488","8a4c5d7d.b2e31","4cb61657.2c61a8"],"x":515,"y":140,"wires":[]},{"id":"d61bb34f.d3dfc","type":"debug","z":"f321306.d97abd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":240,"wires":[]},{"id":"c4a56677.63f488","type":"link in","z":"f321306.d97abd","name":"Linking_to_example","links":["7798449.b7649bc"],"x":155,"y":240,"wires":[["d61bb34f.d3dfc"]]},{"id":"4c6555b8.f90d0c","type":"debug","z":"c173c89.ebe62b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":320,"wires":[]},{"id":"4cb61657.2c61a8","type":"link in","z":"c173c89.ebe62b8","name":"Linking_to_example","links":["7798449.b7649bc"],"x":287,"y":319,"wires":[["4c6555b8.f90d0c"]]},{"id":"aa79a449.ce66e8","type":"debug","z":"39e1e537.1350aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":360,"wires":[]},{"id":"9ef12155.b88948","type":"function","z":"39e1e537.1350aa","name":"","func":"return {payload: rates.stdout};","outputs":1,"noerr":0,"x":730,"y":340,"wires":[["aa79a449.ce66e8"]]},{"id":"2ac5a59.cfc8e5a","type":"debug","z":"3195c608.fdd3ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":900,"y":140,"wires":[]},{"id":"8d90ab74.6077d","type":"inject","z":"3195c608.fdd3ba","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":140,"wires":[["ccd74ae.48c89b8"]]},{"id":"ccd74ae.48c89b8","type":"http request","z":"3195c608.fdd3ba","name":"","method":"GET","ret":"obj","url":"http://api.wunderground.com/api/5c740a826f04e940/conditions/q/CA/San_Francisco.json","tls":"","x":590,"y":140,"wires":[["7ce9af41.83b9e8"]]},{"id":"7ce9af41.83b9e8","type":"function","z":"3195c608.fdd3ba","name":"get info","func":"return {payload: msg.payload.current_observation.temp_c};\n","outputs":1,"noerr":0,"x":760,"y":140,"wires":[["2ac5a59.cfc8e5a"]]}]