Learning_flow
[{"id":"5a495416.eec284","type":"tab","label":"Learning Flow","disabled":false,"info":""},{"id":"a181c5c7.a4d8","type":"inject","z":"5a495416.eec284","name":"run","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":180,"wires":[["d576d970.8d4ed8"]]},{"id":"d576d970.8d4ed8","type":"function","z":"5a495416.eec284","name":"count","func":"value = flow.get('count') || 0;\nvalue++;\nflow.set('count', value);\nreturn {payload: value};","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["701da107.c8b25"]]},{"id":"701da107.c8b25","type":"debug","z":"5a495416.eec284","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":180,"wires":[]},{"id":"be814bd5.537718","type":"inject","z":"5a495416.eec284","name":"run","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":320,"wires":[["bb87c9b1.942b7"]]},{"id":"bb87c9b1.942b7","type":"function","z":"5a495416.eec284","name":"payload = flow.count","func":"\nreturn {payload: flow.get('count')};","outputs":1,"noerr":0,"x":430,"y":320,"wires":[["a9e90ca.1cb54f"]]},{"id":"a9e90ca.1cb54f","type":"debug","z":"5a495416.eec284","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":320,"wires":[]},{"id":"a175470b.d501","type":"inject","z":"5a495416.eec284","name":"get global","topic":"","payload":"count","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":520,"wires":[["37a2ddf.63919a2"]]},{"id":"37a2ddf.63919a2","type":"debug","z":"5a495416.eec284","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":520,"wires":[]},{"id":"17524995.8f20ce","type":"inject","z":"5a495416.eec284","name":"get flow","topic":"","payload":"count","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":420,"wires":[["b75d7ed0.6cba08"]]},{"id":"b75d7ed0.6cba08","type":"debug","z":"5a495416.eec284","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":420,"wires":[]}]