Learning_Link_Nodes
[{"id":"f321306.d97abd","type":"tab","label":"Learning_Link_Nodes","disabled":false,"info":""},{"id":"f4695533.9e8ce","type":"inject","z":"f321306.d97abd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":140,"wires":[["d48e6a5f.8b265"]]},{"id":"d48e6a5f.8b265","type":"delay","z":"f321306.d97abd","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":140,"wires":[["7798449.b7649bc"]]},{"id":"7798449.b7649bc","type":"link out","z":"f321306.d97abd","name":"example","links":["c4a56677.63f488","8a4c5d7d.b2e31","4cb61657.2c61a8"],"x":515,"y":140,"wires":[]},{"id":"d61bb34f.d3dfc","type":"debug","z":"f321306.d97abd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":240,"wires":[]},{"id":"c4a56677.63f488","type":"link in","z":"f321306.d97abd","name":"Linking_to_example","links":["7798449.b7649bc"],"x":155,"y":240,"wires":[["d61bb34f.d3dfc"]]}]