Learning_global
[{"id":"c173c89.ebe62b8","type":"tab","label":"Learning Global","disabled":false,"info":""},{"id":"1506f048.3ce798","type":"inject","z":"c173c89.ebe62b8","name":"run","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":332,"y":112,"wires":[["ec25d7ed.f07ee8"]]},{"id":"ec25d7ed.f07ee8","type":"function","z":"c173c89.ebe62b8","name":"count","func":"value = global.get('count') || 0;\nvalue++;\nglobal.set('count', value);\nreturn {payload: value};","outputs":1,"noerr":0,"x":512,"y":112,"wires":[["fa736246.96e35"]]},{"id":"fa736246.96e35","type":"debug","z":"c173c89.ebe62b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":752,"y":112,"wires":[]},{"id":"63d0566.4103928","type":"inject","z":"c173c89.ebe62b8","name":"run","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":200,"wires":[["34d5a1d4.11240e"]]},{"id":"34d5a1d4.11240e","type":"function","z":"c173c89.ebe62b8","name":"payload = global.count","func":"\nreturn {payload: global.get('count')};","outputs":1,"noerr":0,"x":570,"y":200,"wires":[["e9e70823.a213d8"]]},{"id":"e9e70823.a213d8","type":"debug","z":"c173c89.ebe62b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":200,"wires":[]},{"id":"4c6555b8.f90d0c","type":"debug","z":"c173c89.ebe62b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":320,"wires":[]},{"id":"4cb61657.2c61a8","type":"link in","z":"c173c89.ebe62b8","name":"Linking_to_example","links":["7798449.b7649bc"],"x":287,"y":319,"wires":[["4c6555b8.f90d0c"]]}]