Reading_json_data
[{"id":"3195c608.fdd3ba","type":"tab","label":"Reading_json_data","disabled":false,"info":""},{"id":"a3386c38.4cfbf8","type":"inject","z":"3195c608.fdd3ba","name":"make request","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":430,"y":240,"wires":[["f8a23805.62b69"]]},{"id":"f8a23805.62b69","type":"http request","z":"3195c608.fdd3ba","name":"","method":"GET","ret":"txt","url":"https://www.google.com/finance","tls":"","x":594.5,"y":240,"wires":[["f033f773.8a2db"]]},{"id":"e926f653.37231","type":"debug","z":"3195c608.fdd3ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":907,"y":240,"wires":[]},{"id":"f033f773.8a2db","type":"html","z":"3195c608.fdd3ba","name":"","property":"","tag":"td.bld span","ret":"html","as":"single","x":761.5,"y":240,"wires":[["e926f653.37231"]]},{"id":"2ac5a59.cfc8e5a","type":"debug","z":"3195c608.fdd3ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":900,"y":140,"wires":[]},{"id":"8d90ab74.6077d","type":"inject","z":"3195c608.fdd3ba","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":140,"wires":[["ccd74ae.48c89b8"]]},{"id":"ccd74ae.48c89b8","type":"http request","z":"3195c608.fdd3ba","name":"","method":"GET","ret":"obj","url":"http://api.wunderground.com/api/5c740a826f04e940/conditions/q/CA/San_Francisco.json","tls":"","x":590,"y":140,"wires":[["7ce9af41.83b9e8"]]},{"id":"7ce9af41.83b9e8","type":"function","z":"3195c608.fdd3ba","name":"get info","func":"return {payload: msg.payload.current_observation.temp_c};\n","outputs":1,"noerr":0,"x":760,"y":140,"wires":[["2ac5a59.cfc8e5a"]]}]