twitter
[{"id":"af513309.f95908","type":"tab","label":"Twitter Node","disabled":false,"info":""},{"id":"5bfcb34c.0e46d4","type":"twitter in","z":"af513309.f95908","twitter":"","tags":"Elon Musk","user":"false","name":"Get Elon Musk tweets","inputs":1,"x":360,"y":1180,"wires":[["9419af5e.77ce1","c244f2c0.879d48"]]},{"id":"9419af5e.77ce1","type":"debug","z":"af513309.f95908","name":"Debug","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":1160,"wires":[]},{"id":"c244f2c0.879d48","type":"mongodb out","z":"af513309.f95908","mongodb":"73a37292.1d2604","name":"Save ElonMuskTweets","collection":"tweets","payonly":false,"upsert":false,"multi":false,"operation":"store","x":600,"y":1260,"wires":[]},{"id":"497a41a1.55d6c8","type":"http in","z":"af513309.f95908","name":"show tweets","url":"/showtweets","method":"get","upload":false,"swaggerDoc":"","x":280,"y":1340,"wires":[["116fed5.317b913"]]},{"id":"116fed5.317b913","type":"mongodb in","z":"af513309.f95908","mongodb":"73a37292.1d2604","name":"get tweets data","collection":"tweets","operation":"find","x":560,"y":1340,"wires":[["4942e367.244cec"]]},{"id":"4942e367.244cec","type":"http response","z":"af513309.f95908","name":"","statusCode":"","headers":{},"x":790,"y":1340,"wires":[]},{"id":"73a37292.1d2604","type":"mongodb","z":"","hostname":"10.0.0.199","port":"1880","db":"elonMusk","name":"ElonMuskDataBase"}]