ZCD
[{"id":"12a3a52c.fbe423","type":"tab","label":"ZCD","disabled":false,"info":""},{"id":"25610981.4ea5ae","type":"http in","z":"12a3a52c.fbe423","name":"","url":"/createquote","method":"get","upload":false,"swaggerDoc":"","x":290,"y":60,"wires":[["93716c34.68114"]]},{"id":"93716c34.68114","type":"template","z":"12a3a52c.fbe423","name":"form","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>  \n  <head>\n  </head>\n  <body>\n    <form action=\"/createquote\" method=\"post\">\n      <h1>Enter either the number of quote or a financial instrument to fetch from Fox Market</h1>\n      <label for=\"amount\">Quantity of quotes:</label>\n      <input type=\"text\" name=\"amount\" default=\"0\"/><br>\n      <select name=\"instrument\" default=\"\">\n          <option value=\"Bond.BWP.BBB010.22-02-2016.10.25\">Bond.BWP.BBB010.22-02-2016.10.25</option>\n<option value=\"Bond.BWP.BBB011.05-04-2016.10.75\">Bond.BWP.BBB011.05-04-2016.10.75</option>\n<option value=\"Bond.BWP.BBB015.31-10-2019.4.20\">Bond.BWP.BBB015.31-10-2019.4.20</option>\n<option value=\"Bond.BWP.BBB016.31-10-2019.8.00\">Bond.BWP.BBB016.31-10-2019.8.00</option>\n<option value=\"Bond.BWP.BBS002.15-12-2016.12.00\">Bond.BWP.BBS002.15-12-2016.12.00</option>\n<option value=\"Bond.BWP.BBS004.26-11-2019.11.10\">Bond.BWP.BBS004.26-11-2019.11.10</option>\n<option value=\"Bond.BWP.BBS005.03-12-2023.11.20\">Bond.BWP.BBS005.03-12-2023.11.20</option>\n<option value=\"Bond.BWP.BBS006.04-08-2018.3.59\">Bond.BWP.BBS006.04-08-2018.3.59</option>\n<option value=\"Bond.BWP.BBS007.26-08-2025.9.00\">Bond.BWP.BBS007.26-08-2025.9.00</option>\n<option value=\"Bond.BWP.BCIF002.31-10-2020.3.22\">Bond.BWP.BCIF002.31-10-2020.3.22</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/20Y\">CDS.ZAR.Woolworths.SU#BOND/20Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/2Y\">CDS.ZAR.Woolworths.SU#BOND/2Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/30Y\">CDS.ZAR.Woolworths.SU#BOND/30Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/3Y\">CDS.ZAR.Woolworths.SU#BOND/3Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/4Y\">CDS.ZAR.Woolworths.SU#BOND/4Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/5Y\">CDS.ZAR.Woolworths.SU#BOND/5Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/6M\">CDS.ZAR.Woolworths.SU#BOND/6M</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/7Y\">CDS.ZAR.Woolworths.SU#BOND/7Y</option>\n<option value=\"CDS.ZAR.XINA.SOLAR.ONE.CVA/10Y\">CDS.ZAR.XINA.SOLAR.ONE.CVA/10Y</option>\n<option value=\"CDS.ZAR.XINA.SOLAR.ONE.CVA/11Y\">CDS.ZAR.XINA.SOLAR.ONE.CVA/11Y</option>\n<option value=\"CDS.ZAR.XINA.SOLAR.ONE.CVA/12Y\">CDS.ZAR.XINA.SOLAR.ONE.CVA/12Y</option>\n<option value=\"CDS.ZAR.XINA.SOLAR.ONE.CVA/13Y\">CDS.ZAR.XINA.SOLAR.ONE.CVA/13Y</option>\n<option value=\"FX.SEK.ZAR.WEB\">FX.SEK.ZAR.WEB</option>\n<option value=\"FX.SGD.USD.WEB\">FX.SGD.USD.WEB</option>\n<option value=\"FX.SGD.ZAR.12M.WEB\">FX.SGD.ZAR.12M.WEB</option>\n<option value=\"FX.SGD.ZAR.1M.WEB\">FX.SGD.ZAR.1M.WEB</option>\n<option value=\"FX.SGD.ZAR.2M.WEB\">FX.SGD.ZAR.2M.WEB</option>\n<option value=\"FX.SGD.ZAR.3M.WEB\">FX.SGD.ZAR.3M.WEB</option>\n<option value=\"FX.SGD.ZAR.6M.WEB\">FX.SGD.ZAR.6M.WEB</option>\n<option value=\"FX.SGD.ZAR.9M.WEB\">FX.SGD.ZAR.9M.WEB</option>\n<option value=\"FX.SGD.ZAR.WEB\">FX.SGD.ZAR.WEB</option>\n<option value=\"FX.THB.USD.WEB\">FX.THB.USD.WEB</option>\n<option value=\"FX.THB.ZAR.WEB\">FX.THB.ZAR.WEB</option>\n<option value=\"FX.TZS.USD.WEB\">FX.TZS.USD.WEB</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.7M.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.7M.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.7Y.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.7Y.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.8M.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.8M.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.8Y.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.8Y.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.9M.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.9M.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.9Y.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.9Y.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.ON.ON.ZC\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.ON.ON.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.1M.1M.ZC\">Spread.LP.SWZ.USD.LIBOR.1M.1M.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.1W.1W.ZC\">Spread.LP.SWZ.USD.LIBOR.1W.1W.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.2M.2M.ZC\">Spread.LP.SWZ.USD.LIBOR.2M.2M.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.2W.2W.ZC\">Spread.LP.SWZ.USD.LIBOR.2W.2W.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.3M.10M.QTR\">Spread.LP.SWZ.USD.LIBOR.3M.10M.QTR</option>\n<option selected=\"selected\"></option>\n        </select>\n      <input type=\"submit\" />\n    </form>\n  </body>\n</html>  ","output":"str","x":550,"y":60,"wires":[["ace8e97e.385728"]]},{"id":"ace8e97e.385728","type":"http response","z":"12a3a52c.fbe423","name":"","statusCode":"","headers":{},"x":790,"y":60,"wires":[]},{"id":"3ed38dd5.5c331a","type":"http in","z":"12a3a52c.fbe423","name":"","url":"/createquote","method":"post","upload":false,"swaggerDoc":"","x":270,"y":180,"wires":[["eb564b73.1294d8"]]},{"id":"4f4d0512.ced2d4","type":"template","z":"12a3a52c.fbe423","name":"response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>  \n  <head>\n  </head>\n  <body>\n    <h1>Here are your rates</h1>\n \t<table style=\"width:60%\">\n      <tr>\n        <th align=\"left\">Instrument Name</th>\n        <th align=\"left\">Rate</th> \n      </tr>\n      {{#rates.clean}}\n      <tr>\n        <td>{{instrument}}</td>\n        <td>{{rate}}</td> \n      </tr>\n      {{/rates.clean}}\n    </table>\n \t\n \t\n  </body>\n</html>  ","output":"str","x":740,"y":180,"wires":[["e673c995.72a2d8"]]},{"id":"e673c995.72a2d8","type":"http response","z":"12a3a52c.fbe423","name":"","statusCode":"","headers":{},"x":950,"y":180,"wires":[]},{"id":"1e5cdee0.470409","type":"debug","z":"12a3a52c.fbe423","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"rates","x":780,"y":260,"wires":[]},{"id":"eb564b73.1294d8","type":"fox-call","z":"12a3a52c.fbe423","name":"","x":500,"y":240,"wires":[["4f4d0512.ced2d4","1e5cdee0.470409","8f43f20a.7ee9a"]]},{"id":"3b54e83a.7c93f8","type":"fox-call-custom","z":"12a3a52c.fbe423","name":"","x":460,"y":620,"wires":[["67c3a238.ed7bf4","517f6c5d.97f214","88556ba7.62c2c8"]]},{"id":"17c7f1a2.4ffc8e","type":"inject","z":"12a3a52c.fbe423","name":"","topic":"","payload":"Bond","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":620,"wires":[["839ff9d.6eb8188","517f6c5d.97f214"]]},{"id":"71938728.c24128","type":"http response","z":"12a3a52c.fbe423","name":"","statusCode":"","headers":{},"x":1210,"y":580,"wires":[]},{"id":"67c3a238.ed7bf4","type":"template","z":"12a3a52c.fbe423","name":"fox-call-custom","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>  \n  <head>\n  </head>\n  <body>\n    <form action=\"/createquote\" method=\"post\">\n      <h1>Enter either the number of quote or a financial instrument to fetch from Fox Market</h1>\n      <label for=\"amount\">Quantity of quotes:</label>\n      <input type=\"text\" name=\"amount\" default=\"0\"/><br>\n      <select name=\"instrument\" default=\"\">\n          <option value=\"Bond.BWP.BBB010.22-02-2016.10.25\">Bond.BWP.BBB010.22-02-2016.10.25</option>\n<option value=\"Bond.BWP.BBB011.05-04-2016.10.75\">Bond.BWP.BBB011.05-04-2016.10.75</option>\n<option value=\"Bond.BWP.BBB015.31-10-2019.4.20\">Bond.BWP.BBB015.31-10-2019.4.20</option>\n<option value=\"Bond.BWP.BBB016.31-10-2019.8.00\">Bond.BWP.BBB016.31-10-2019.8.00</option>\n<option value=\"Bond.BWP.BBS002.15-12-2016.12.00\">Bond.BWP.BBS002.15-12-2016.12.00</option>\n<option value=\"Bond.BWP.BBS004.26-11-2019.11.10\">Bond.BWP.BBS004.26-11-2019.11.10</option>\n<option value=\"Bond.BWP.BBS005.03-12-2023.11.20\">Bond.BWP.BBS005.03-12-2023.11.20</option>\n<option value=\"Bond.BWP.BBS006.04-08-2018.3.59\">Bond.BWP.BBS006.04-08-2018.3.59</option>\n<option value=\"Bond.BWP.BBS007.26-08-2025.9.00\">Bond.BWP.BBS007.26-08-2025.9.00</option>\n<option value=\"Bond.BWP.BCIF002.31-10-2020.3.22\">Bond.BWP.BCIF002.31-10-2020.3.22</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/20Y\">CDS.ZAR.Woolworths.SU#BOND/20Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/2Y\">CDS.ZAR.Woolworths.SU#BOND/2Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/30Y\">CDS.ZAR.Woolworths.SU#BOND/30Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/3Y\">CDS.ZAR.Woolworths.SU#BOND/3Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/4Y\">CDS.ZAR.Woolworths.SU#BOND/4Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/5Y\">CDS.ZAR.Woolworths.SU#BOND/5Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/6M\">CDS.ZAR.Woolworths.SU#BOND/6M</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/7Y\">CDS.ZAR.Woolworths.SU#BOND/7Y</option>\n<option value=\"CDS.ZAR.XINA.SOLAR.ONE.CVA/10Y\">CDS.ZAR.XINA.SOLAR.ONE.CVA/10Y</option>\n<option value=\"CDS.ZAR.XINA.SOLAR.ONE.CVA/11Y\">CDS.ZAR.XINA.SOLAR.ONE.CVA/11Y</option>\n<option value=\"CDS.ZAR.XINA.SOLAR.ONE.CVA/12Y\">CDS.ZAR.XINA.SOLAR.ONE.CVA/12Y</option>\n<option value=\"CDS.ZAR.XINA.SOLAR.ONE.CVA/13Y\">CDS.ZAR.XINA.SOLAR.ONE.CVA/13Y</option>\n<option value=\"FX.SEK.ZAR.WEB\">FX.SEK.ZAR.WEB</option>\n<option value=\"FX.SGD.USD.WEB\">FX.SGD.USD.WEB</option>\n<option value=\"FX.SGD.ZAR.12M.WEB\">FX.SGD.ZAR.12M.WEB</option>\n<option value=\"FX.SGD.ZAR.1M.WEB\">FX.SGD.ZAR.1M.WEB</option>\n<option value=\"FX.SGD.ZAR.2M.WEB\">FX.SGD.ZAR.2M.WEB</option>\n<option value=\"FX.SGD.ZAR.3M.WEB\">FX.SGD.ZAR.3M.WEB</option>\n<option value=\"FX.SGD.ZAR.6M.WEB\">FX.SGD.ZAR.6M.WEB</option>\n<option value=\"FX.SGD.ZAR.9M.WEB\">FX.SGD.ZAR.9M.WEB</option>\n<option value=\"FX.SGD.ZAR.WEB\">FX.SGD.ZAR.WEB</option>\n<option value=\"FX.THB.USD.WEB\">FX.THB.USD.WEB</option>\n<option value=\"FX.THB.ZAR.WEB\">FX.THB.ZAR.WEB</option>\n<option value=\"FX.TZS.USD.WEB\">FX.TZS.USD.WEB</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.7M.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.7M.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.7Y.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.7Y.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.8M.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.8M.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.8Y.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.8Y.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.9M.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.9M.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.9Y.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.9Y.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.ON.ON.ZC\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.ON.ON.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.1M.1M.ZC\">Spread.LP.SWZ.USD.LIBOR.1M.1M.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.1W.1W.ZC\">Spread.LP.SWZ.USD.LIBOR.1W.1W.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.2M.2M.ZC\">Spread.LP.SWZ.USD.LIBOR.2M.2M.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.2W.2W.ZC\">Spread.LP.SWZ.USD.LIBOR.2W.2W.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.3M.10M.QTR\">Spread.LP.SWZ.USD.LIBOR.3M.10M.QTR</option>\n<option selected=\"selected\"></option>\n        </select>\n      <input type=\"submit\" />\n    </form>\n  </body>\n</html>  ","output":"str","x":760,"y":580,"wires":[["71938728.c24128"]]},{"id":"517f6c5d.97f214","type":"debug","z":"12a3a52c.fbe423","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":740,"wires":[]},{"id":"839ff9d.6eb8188","type":"http request","z":"12a3a52c.fbe423","name":"Get custom quote","method":"GET","ret":"txt","url":"/customquote","tls":"","x":190,"y":720,"wires":[["3b54e83a.7c93f8"]]},{"id":"88556ba7.62c2c8","type":"http request","z":"12a3a52c.fbe423","name":"Post custom quote","method":"POST","ret":"txt","url":"/customquote","tls":"","x":750,"y":680,"wires":[["b17652c1.28381"]]},{"id":"b17652c1.28381","type":"template","z":"12a3a52c.fbe423","name":"custom_response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>  \n  <head>\n  </head>\n  <body>\n    <h1>Here are your rates</h1>\n \t<table style=\"width:60%\">\n      <tr>\n        <th align=\"left\">Instrument Name</th>\n        <th align=\"left\">Rate</th> \n      </tr>\n      {{#rates.clean}}\n      <tr>\n        <td>{{instrument}}</td>\n        <td>{{rate}}</td> \n      </tr>\n      {{/rates.clean}}\n    </table>\n \t\n \t\n  </body>\n</html>  ","output":"str","x":990,"y":780,"wires":[["71938728.c24128"]]},{"id":"ce879727.96a78","type":"inject","z":"12a3a52c.fbe423","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":400,"wires":[["fdd794ed.6e8618","9c2c456e.3c9f1"]]},{"id":"fdd794ed.6e8618","type":"debug","z":"12a3a52c.fbe423","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":390,"y":420,"wires":[]},{"id":"9c2c456e.3c9f1","type":"function","z":"12a3a52c.fbe423","name":"Intializing Global Varible","func":"global.set(\"Bond\",\"Bond.BWP.BBB010.22-02-2016.10.25\");\nglobal.set(\"Bond1\",\"Bond.BWP.BBB011.05-04-2016.10.75\");\nglobal.set(\"Bond2\",\"Bond.BWP.BBB015.31-10-2019.4.20\");\nglobal.set(\"Bond3\",\"Bond.BWP.BBB016.31-10-2019.8.00\");\nglobal.set(\"Bond4\",\"Bond.BWP.BBS002.15-12-2016.12.00\");\nglobal.set(\"Bond5\",\"Bond.BWP.BBS004.26-11-2019.11.10\");\nglobal.set(\"Bond6\",\"Bond.BWP.BBS005.03-12-2023.11.20\");\nglobal.set(\"Bond7\",\"Bond.BWP.BBS006.04-08-2018.3.59\");\nglobal.set(\"Bond8\",\"Bond.BWP.BBS007.26-08-2025.9.00\");\nglobal.set(\"Bond9\",\"Bond.BWP.BCIF002.31-10-2020.3.22\");\nglobal.set(\"CDS\",\"CDS.ZAR.Woolworths.SU#BOND/20Y\");\nglobal.set(\"CDS1\",\"CDS.ZAR.Woolworths.SU#BOND/2Y\");\nglobal.set(\"CDS2\",\"CDS.ZAR.Woolworths.SU#BOND/30Y\");\nglobal.set(\"CDS3\",\"CDS.ZAR.Woolworths.SU#BOND/3Y\");\nglobal.set(\"CDS4\",\"CDS.ZAR.Woolworths.SU#BOND/4Y\");\nglobal.set(\"CDS5\",\"CDS.ZAR.Woolworths.SU#BOND/5Y\");\nglobal.set(\"CDS6\",\"CDS.ZAR.Woolworths.SU#BOND/6M\");\nglobal.set(\"CDS7\",\"CDS.ZAR.Woolworths.SU#BOND/7Y\");\nglobal.set(\"CDS8\",\"CDS.ZAR.XINA.SOLAR.ONE.CVA/10Y\");\nglobal.set(\"CDS9\",\"CDS.ZAR.XINA.SOLAR.ONE.CVA/11Y\");\nglobal.set(\"CDS10\",\"CDS.ZAR.XINA.SOLAR.ONE.CVA/12Y\");\nglobal.set(\"CDS11\",\"CDS.ZAR.XINA.SOLAR.ONE.CVA/13Y\");\nglobal.set(\"FX\",\"FX.SEK.ZAR.WEB\");\nglobal.set(\"FX1\",\"FX.SGD.USD.WEB\");\nglobal.set(\"FX2\",\"FX.SGD.ZAR.12M.WEB\");\nglobal.set(\"FX3\",\"FX.SGD.ZAR.1M.WEB\");\nglobal.set(\"FX4\",\"FX.SGD.ZAR.2M.WEB\");\nglobal.set(\"FX5\",\"FX.SGD.ZAR.3M.WEB\");\nglobal.set(\"FX6\",\"FX.SGD.ZAR.6M.WEB\");\nglobal.set(\"FX7\",\"FX.SGD.ZAR.9M.WEB\");\nglobal.set(\"FX8\",\"FX.SGD.ZAR.WEB\");\nglobal.set(\"FX9\",\"FX.THB.USD.WEB\");\nglobal.set(\"FX10\",\"FX.THB.ZAR.WEB\");\nglobal.set(\"FX11\",\"FX.TZS.USD.WEB\");\nglobal.set(\"Spread\",\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.7M.QTR\");\nglobal.set(\"Spread1\",\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.7Y.QTR\");\nglobal.set(\"Spread2\",\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.8M.QTR\");\nglobal.set(\"Spread3\",\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.8Y.QTR\");\nglobal.set(\"Spread4\",\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.9M.QTR\");\nglobal.set(\"Spread5\",\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.9Y.QTR\");\nglobal.set(\"Spread6\",\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.ON.ON.ZC\");\nglobal.set(\"Spread7\",\"Spread.LP.SWZ.USD.LIBOR.1M.1M.ZC\");\nglobal.set(\"Spread8\",\"Spread.LP.SWZ.USD.LIBOR.1W.1W.ZC\");\nglobal.set(\"Spread9\",\"Spread.LP.SWZ.USD.LIBOR.2M.2M.ZC\");\nglobal.set(\"Spread10\",\"Spread.LP.SWZ.USD.LIBOR.2W.2W.ZC\");\nglobal.set(\"Spread11\",\"Spread.LP.SWZ.USD.LIBOR.3M.10M.QTR\");\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":360,"wires":[[]]},{"id":"2053960f.c61262","type":"fox-call-custom","z":"12a3a52c.fbe423","name":"","x":440,"y":1020,"wires":[["43d441f1.ef4a","c5bbc29f.93ca78"]]},{"id":"bc2086e4.952448","type":"http response","z":"12a3a52c.fbe423","name":"","statusCode":"","headers":{},"x":990,"y":1020,"wires":[]},{"id":"916ca8e7.241a18","type":"template","z":"12a3a52c.fbe423","name":"fox-call-custom","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>  \n  <head>\n  </head>\n  <body>\n    <form action=\"/createquote\" method=\"post\">\n      <h1>Enter either the number of quote or a financial instrument to fetch from Fox Market</h1>\n      <label for=\"amount\">Quantity of quotes:</label>\n      <input type=\"text\" name=\"amount\" default=\"0\"/><br>\n      <select name=\"instrument\" default=\"\">\n          <option value=\"Bond.BWP.BBB010.22-02-2016.10.25\">Bond.BWP.BBB010.22-02-2016.10.25</option>\n<option value=\"Bond.BWP.BBB011.05-04-2016.10.75\">Bond.BWP.BBB011.05-04-2016.10.75</option>\n<option value=\"Bond.BWP.BBB015.31-10-2019.4.20\">Bond.BWP.BBB015.31-10-2019.4.20</option>\n<option value=\"Bond.BWP.BBB016.31-10-2019.8.00\">Bond.BWP.BBB016.31-10-2019.8.00</option>\n<option value=\"Bond.BWP.BBS002.15-12-2016.12.00\">Bond.BWP.BBS002.15-12-2016.12.00</option>\n<option value=\"Bond.BWP.BBS004.26-11-2019.11.10\">Bond.BWP.BBS004.26-11-2019.11.10</option>\n<option value=\"Bond.BWP.BBS005.03-12-2023.11.20\">Bond.BWP.BBS005.03-12-2023.11.20</option>\n<option value=\"Bond.BWP.BBS006.04-08-2018.3.59\">Bond.BWP.BBS006.04-08-2018.3.59</option>\n<option value=\"Bond.BWP.BBS007.26-08-2025.9.00\">Bond.BWP.BBS007.26-08-2025.9.00</option>\n<option value=\"Bond.BWP.BCIF002.31-10-2020.3.22\">Bond.BWP.BCIF002.31-10-2020.3.22</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/20Y\">CDS.ZAR.Woolworths.SU#BOND/20Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/2Y\">CDS.ZAR.Woolworths.SU#BOND/2Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/30Y\">CDS.ZAR.Woolworths.SU#BOND/30Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/3Y\">CDS.ZAR.Woolworths.SU#BOND/3Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/4Y\">CDS.ZAR.Woolworths.SU#BOND/4Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/5Y\">CDS.ZAR.Woolworths.SU#BOND/5Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/6M\">CDS.ZAR.Woolworths.SU#BOND/6M</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/7Y\">CDS.ZAR.Woolworths.SU#BOND/7Y</option>\n<option value=\"CDS.ZAR.XINA.SOLAR.ONE.CVA/10Y\">CDS.ZAR.XINA.SOLAR.ONE.CVA/10Y</option>\n<option value=\"CDS.ZAR.XINA.SOLAR.ONE.CVA/11Y\">CDS.ZAR.XINA.SOLAR.ONE.CVA/11Y</option>\n<option value=\"CDS.ZAR.XINA.SOLAR.ONE.CVA/12Y\">CDS.ZAR.XINA.SOLAR.ONE.CVA/12Y</option>\n<option value=\"CDS.ZAR.XINA.SOLAR.ONE.CVA/13Y\">CDS.ZAR.XINA.SOLAR.ONE.CVA/13Y</option>\n<option value=\"FX.SEK.ZAR.WEB\">FX.SEK.ZAR.WEB</option>\n<option value=\"FX.SGD.USD.WEB\">FX.SGD.USD.WEB</option>\n<option value=\"FX.SGD.ZAR.12M.WEB\">FX.SGD.ZAR.12M.WEB</option>\n<option value=\"FX.SGD.ZAR.1M.WEB\">FX.SGD.ZAR.1M.WEB</option>\n<option value=\"FX.SGD.ZAR.2M.WEB\">FX.SGD.ZAR.2M.WEB</option>\n<option value=\"FX.SGD.ZAR.3M.WEB\">FX.SGD.ZAR.3M.WEB</option>\n<option value=\"FX.SGD.ZAR.6M.WEB\">FX.SGD.ZAR.6M.WEB</option>\n<option value=\"FX.SGD.ZAR.9M.WEB\">FX.SGD.ZAR.9M.WEB</option>\n<option value=\"FX.SGD.ZAR.WEB\">FX.SGD.ZAR.WEB</option>\n<option value=\"FX.THB.USD.WEB\">FX.THB.USD.WEB</option>\n<option value=\"FX.THB.ZAR.WEB\">FX.THB.ZAR.WEB</option>\n<option value=\"FX.TZS.USD.WEB\">FX.TZS.USD.WEB</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.7M.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.7M.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.7Y.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.7Y.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.8M.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.8M.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.8Y.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.8Y.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.9M.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.9M.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.9Y.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.9Y.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.ON.ON.ZC\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.ON.ON.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.1M.1M.ZC\">Spread.LP.SWZ.USD.LIBOR.1M.1M.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.1W.1W.ZC\">Spread.LP.SWZ.USD.LIBOR.1W.1W.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.2M.2M.ZC\">Spread.LP.SWZ.USD.LIBOR.2M.2M.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.2W.2W.ZC\">Spread.LP.SWZ.USD.LIBOR.2W.2W.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.3M.10M.QTR\">Spread.LP.SWZ.USD.LIBOR.3M.10M.QTR</option>\n<option selected=\"selected\"></option>\n        </select>\n      <input type=\"submit\" />\n    </form>\n  </body>\n</html>  ","output":"str","x":440,"y":1260,"wires":[["8c7b56ce.3764e","b77fe8.f0f94818"]]},{"id":"43d441f1.ef4a","type":"debug","z":"12a3a52c.fbe423","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":900,"wires":[]},{"id":"c5bbc29f.93ca78","type":"template","z":"12a3a52c.fbe423","name":"custom_response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>  \n  <head>\n  </head>\n  <body>\n    <h1>Here are your rates</h1>\n \t<table style=\"width:60%\">\n      <tr>\n        <th align=\"left\">Instrument Name</th>\n        <th align=\"left\">Rate</th> \n      </tr>\n      {{#rates.clean}}\n      <tr>\n        <td>{{instrument}}</td>\n        <td>{{rate}}</td> \n      </tr>\n      {{/rates.clean}}\n    </table>\n \t\n \t\n  </body>\n</html>  ","output":"str","x":730,"y":1020,"wires":[["bc2086e4.952448"]]},{"id":"8c7b56ce.3764e","type":"http response","z":"12a3a52c.fbe423","name":"","statusCode":"","headers":{},"x":630,"y":1260,"wires":[]},{"id":"771959c3.d06cc8","type":"inject","z":"12a3a52c.fbe423","name":"","topic":"","payload":"Bond","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1180,"wires":[["b77fe8.f0f94818","916ca8e7.241a18"]]},{"id":"58c61704.08a3d","type":"inject","z":"12a3a52c.fbe423","name":"","topic":"","payload":"Bond","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":900,"wires":[["43d441f1.ef4a","2053960f.c61262"]]},{"id":"b77fe8.f0f94818","type":"debug","z":"12a3a52c.fbe423","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":1180,"wires":[]},{"id":"cb1be59.8510498","type":"http in","z":"12a3a52c.fbe423","name":"get custom quote","url":"/customquote","method":"get","upload":false,"swaggerDoc":"","x":220,"y":1260,"wires":[["916ca8e7.241a18"]]},{"id":"9130b5cf.e5409","type":"http in","z":"12a3a52c.fbe423","name":"post custom quote","url":"/customquote","method":"post","upload":false,"swaggerDoc":"","x":190,"y":1020,"wires":[["2053960f.c61262"]]},{"id":"6064b592.06ebf4","type":"http response","z":"12a3a52c.fbe423","name":"","statusCode":"","headers":{},"x":1310,"y":1260,"wires":[]},{"id":"27090304.bbcd3c","type":"inject","z":"12a3a52c.fbe423","name":"","topic":"","payload":"Bond","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":910,"y":1180,"wires":[["9a9e0054.72c8b","50da1078.d23708"]]},{"id":"9a9e0054.72c8b","type":"debug","z":"12a3a52c.fbe423","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1330,"y":1180,"wires":[]},{"id":"de218ba9.a2edb","type":"http in","z":"12a3a52c.fbe423","name":"get custom quote","url":"/createquote","method":"get","upload":false,"swaggerDoc":"","x":900,"y":1260,"wires":[["50da1078.d23708"]]},{"id":"50da1078.d23708","type":"html","z":"12a3a52c.fbe423","name":"","property":"payload","tag":"","ret":"html","as":"single","x":1110,"y":1260,"wires":[["9a9e0054.72c8b","6064b592.06ebf4"]]},{"id":"3cdb4a9e.81acce","type":"template","z":"12a3a52c.fbe423","name":"fox-call-custom","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>  \n  <head>\n  </head>\n  <body>\n    <form action=\"/createquote\" method=\"post\">\n      <h1>Enter either the number of quote or a financial instrument to fetch from Fox Market</h1>\n      <label for=\"amount\">Quantity of quotes:</label>\n      <input type=\"text\" name=\"amount\" default=\"0\"/><br>\n      <select name=\"instrument\" default=\"\">\n          <option value=\"Bond.BWP.BBB010.22-02-2016.10.25\">Bond.BWP.BBB010.22-02-2016.10.25</option>\n<option value=\"Bond.BWP.BBB011.05-04-2016.10.75\">Bond.BWP.BBB011.05-04-2016.10.75</option>\n<option value=\"Bond.BWP.BBB015.31-10-2019.4.20\">Bond.BWP.BBB015.31-10-2019.4.20</option>\n<option value=\"Bond.BWP.BBB016.31-10-2019.8.00\">Bond.BWP.BBB016.31-10-2019.8.00</option>\n<option value=\"Bond.BWP.BBS002.15-12-2016.12.00\">Bond.BWP.BBS002.15-12-2016.12.00</option>\n<option value=\"Bond.BWP.BBS004.26-11-2019.11.10\">Bond.BWP.BBS004.26-11-2019.11.10</option>\n<option value=\"Bond.BWP.BBS005.03-12-2023.11.20\">Bond.BWP.BBS005.03-12-2023.11.20</option>\n<option value=\"Bond.BWP.BBS006.04-08-2018.3.59\">Bond.BWP.BBS006.04-08-2018.3.59</option>\n<option value=\"Bond.BWP.BBS007.26-08-2025.9.00\">Bond.BWP.BBS007.26-08-2025.9.00</option>\n<option value=\"Bond.BWP.BCIF002.31-10-2020.3.22\">Bond.BWP.BCIF002.31-10-2020.3.22</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/20Y\">CDS.ZAR.Woolworths.SU#BOND/20Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/2Y\">CDS.ZAR.Woolworths.SU#BOND/2Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/30Y\">CDS.ZAR.Woolworths.SU#BOND/30Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/3Y\">CDS.ZAR.Woolworths.SU#BOND/3Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/4Y\">CDS.ZAR.Woolworths.SU#BOND/4Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/5Y\">CDS.ZAR.Woolworths.SU#BOND/5Y</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/6M\">CDS.ZAR.Woolworths.SU#BOND/6M</option>\n<option value=\"CDS.ZAR.Woolworths.SU#BOND/7Y\">CDS.ZAR.Woolworths.SU#BOND/7Y</option>\n<option value=\"CDS.ZAR.XINA.SOLAR.ONE.CVA/10Y\">CDS.ZAR.XINA.SOLAR.ONE.CVA/10Y</option>\n<option value=\"CDS.ZAR.XINA.SOLAR.ONE.CVA/11Y\">CDS.ZAR.XINA.SOLAR.ONE.CVA/11Y</option>\n<option value=\"CDS.ZAR.XINA.SOLAR.ONE.CVA/12Y\">CDS.ZAR.XINA.SOLAR.ONE.CVA/12Y</option>\n<option value=\"CDS.ZAR.XINA.SOLAR.ONE.CVA/13Y\">CDS.ZAR.XINA.SOLAR.ONE.CVA/13Y</option>\n<option value=\"FX.SEK.ZAR.WEB\">FX.SEK.ZAR.WEB</option>\n<option value=\"FX.SGD.USD.WEB\">FX.SGD.USD.WEB</option>\n<option value=\"FX.SGD.ZAR.12M.WEB\">FX.SGD.ZAR.12M.WEB</option>\n<option value=\"FX.SGD.ZAR.1M.WEB\">FX.SGD.ZAR.1M.WEB</option>\n<option value=\"FX.SGD.ZAR.2M.WEB\">FX.SGD.ZAR.2M.WEB</option>\n<option value=\"FX.SGD.ZAR.3M.WEB\">FX.SGD.ZAR.3M.WEB</option>\n<option value=\"FX.SGD.ZAR.6M.WEB\">FX.SGD.ZAR.6M.WEB</option>\n<option value=\"FX.SGD.ZAR.9M.WEB\">FX.SGD.ZAR.9M.WEB</option>\n<option value=\"FX.SGD.ZAR.WEB\">FX.SGD.ZAR.WEB</option>\n<option value=\"FX.THB.USD.WEB\">FX.THB.USD.WEB</option>\n<option value=\"FX.THB.ZAR.WEB\">FX.THB.ZAR.WEB</option>\n<option value=\"FX.TZS.USD.WEB\">FX.TZS.USD.WEB</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.7M.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.7M.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.7Y.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.7Y.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.8M.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.8M.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.8Y.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.8Y.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.9M.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.9M.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.9Y.QTR\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.3M.9Y.QTR</option>\n<option value=\"Spread.LP.SWZ.SZL.JIBAR-SAFEX.ON.ON.ZC\">Spread.LP.SWZ.SZL.JIBAR-SAFEX.ON.ON.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.1M.1M.ZC\">Spread.LP.SWZ.USD.LIBOR.1M.1M.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.1W.1W.ZC\">Spread.LP.SWZ.USD.LIBOR.1W.1W.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.2M.2M.ZC\">Spread.LP.SWZ.USD.LIBOR.2M.2M.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.2W.2W.ZC\">Spread.LP.SWZ.USD.LIBOR.2W.2W.ZC</option>\n<option value=\"Spread.LP.SWZ.USD.LIBOR.3M.10M.QTR\">Spread.LP.SWZ.USD.LIBOR.3M.10M.QTR</option>\n<option selected=\"selected\"></option>\n        </select>\n      <input type=\"submit\" />\n    </form>\n  </body>\n</html>  ","output":"str","x":820,"y":1380,"wires":[[]]},{"id":"398426c4.0457da","type":"inject","z":"12a3a52c.fbe423","name":"","topic":"","payload":"CDS","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":540,"wires":[["839ff9d.6eb8188","517f6c5d.97f214"]]},{"id":"12795443.a3aafc","type":"debug","z":"12a3a52c.fbe423","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":360,"wires":[]},{"id":"8f43f20a.7ee9a","type":"function","z":"12a3a52c.fbe423","name":"","func":"return {payload: rates.stdout};","outputs":1,"noerr":0,"x":730,"y":340,"wires":[["12795443.a3aafc"]]}]